<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Text description:</b>
  <%= @project.text_description %>
</p>

<p>
  <b>Documents:</b>
  <ul>
    <% @documents.each do |document| %>
      <li> <%= link_to document.name, document_path(document.id) %>
    <% end %>
  </ul>
<p>
<%= link_to "Add a New Document to #{@project.name}" , new_project_document_path(@project) %><br>
<%= link_to "Back to all Projects", projects_path %><br>
<%= link_to 'Edit', edit_project_path(@project) %>
